h1.text-center Timeline
.margin-20.padding-30.right-padding-100#timeline-reviews

javascript:
  $.ajax({
    url: '/user/timeline.json',
    type: 'GET'
  })
  .done(function(data){
    displayTimeline(data);
  });
  
  
  function displayTimeline(data){
      let container = $("#timeline-reviews");
      let htmlString = "";
      
      container.empty();
      
      if (data["reviews"].length == 0) {
        htmlString = `<div class="alert alert-danger text-center margin-20" role="alert">The users you're following haven't reviewed any movies yet!</div>`
      }
      else{
        data["reviews"].forEach(function(review){
          htmlString += `
                        <div class="grid-item">
                          <div class = "row">
                            <div class = "col-xs-12 col-md-9">
                              <p><a href= "/users/${review["user"]["id"]}">${review["user"]["username"]}</a> reviewed <a href="/movies/${review["movie"]["tmdb_id"]}">${review["movie"]["title"]}</a>: &ldquo;${review["comment"]}&rdquo;</p>
                            </div>
                            
                            <div class = "col-xs-12 col-md-3">
                              <a href="/movies/${review["movie"]["tmdb_id"]}">
                              <img src=${review["movie"]["poster"] == null ? "/assets/default_image.png" : "https://image.tmdb.org/t/p/w154/" + review["movie"]["poster"]} data-id="${review['movie']['tmdb_id']}"/>
                              </a>
                            </div>
                          </div>
                        </div>
                        <hr/>
                        `
        });
      }
      container.append(htmlString);
      
  }
